<form class="contatoForm">

    <label for="fname">Nome</label>
    <input type="text" id="fname" name="firstname" placeholder="Seu Nome">

    <label for="lname">Sobrenome</label>
    <input type="text" id="lname" name="lastname" placeholder="Seu Sobrenome">

    <label for="country">Estado</label>
    <select id="country" name="country">
        <option value="sao-paulo">São Paulo</option>
        <option value="minas-gerais">Minas Gerais</option>
        <option value="rio-de-janeiro">Rio de Janeiro</option>
    </select>

    <label for="subject">Mensagem</label>
    <textarea id="subject" name="subject" placeholder="Escreva algo..." style="height:200px"></textarea>

    <input type="submit" value="Enviar">

</form>