<div class="homeHeader">
  <div class="card text-center">
    <div class="card-header display-4">
      Acione seu seguro
    </div>
    <div class="card-body">
      <h5 class="card-title">Registro para abertura de Sinistro</h5>
      <p class="card-text">Clique no botão abaixo para inserir seus dados.</p>
      <button class="btn btn-primary" onclick="location.href=('/principal')">Visitar</button>
    </div>
  </div>
</div>

<div class="homeInfo">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A Chinchio Seguros</h5>
          <p class="card-text">Para conhecer sobre como atuamos na área de seguros e mais sobre nossa empresa, clique no botão abaixo.</p>
          <button class="btn btn-primary" id="btn-home-1" onclick="location.href=('/sobre-nos')">Visitar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contato</h5>
          <p class="card-text">Entre em contato conosco para demais informações, utilizando o link abaixo.</p>
          <button class="btn btn-primary" id="btn-home-2" onclick="location.href=('/contato')">Visitar</button>
        </div>
      </div>
    </div>
  </div>
</div>