<h3 class="reg-title display-4"> REGISTROS DE SINISTRO </h3>
<div class="row">
    <div class="col-8 offset-2">
        <form>
            <input class="form-control" placeholder="Buscar Segurado" ng-model="buscaSegurado">
            <a class="btn btn-danger" id="headBtn" href="#" role="button"  data-toggle="tooltip" data-placement="top" title="Clique para preencher o formulário" onclick="location.href=('/principal/formulario')">Formulário p/ Abertura Sinistro</a>
        </form>
    </div>    <!-- fim col md 12 -->
</div>    <!-- fim row -->
<hr>

<minha-tabela></minha-tabela>