  <div class="sobre-title display-1">A Chinchio Seguros</div>
<div class="collapseStyle">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ESTRUTURA
          </button>
        </h5>
      </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <p> Chinchio Seguros é uma empresa brasileira, localizada na região central da cidade de São Paulo. Fundada em 1945, é reconhecida como uma das maiores seguradoras do País, por sua atuação nos segmentos de Seguro Auto e Residência.</p>

              <p> A Chinchio Seguros, conta com, quase 14 mil funcionários, cerca de 13 mil prestadores, mais de 36 mil Corretores parceiros, aproximadamente 9 milhções de clientes em todo o País e 105 surcursais e escritórios regionais</p> 

              <p>Além de atuar nos principais ramos de seguros patrimoniais e de pessoas, a Chinchio Seguros oferece, por meio das 27 empresas que fazem parte do Grupo, mais de 50 produtos e serviços, como consórcios, soluções financeiras, proteção e monitoramento, saúde ocupacional, entre outros.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              MISSÃO
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>Nossa missão é assumir riscos e prestar serviços, por meio de um atendimento familiar que supere expectativas, garantindo agilidade a custos competitivos com responsabilidade social e ambiental.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              FILOSOFIA EMPRESARIAL
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
           
              <h5><cite><q>De que vale construir arranha-céus se não há mais almas humanas para morar neles.</q></cite> </h5>

              <h6> <cite>- Érico Veríssimo</cite></h6>

              <p>A Chinchio Seguros é o conjunto de pessoas formado por seus funcionários, dirigentes, acionistas, corretores, prestadores de serviços e parceiros de negócios que, individual e coletivamente, se orientam pelos seguintes valores, exemplos e compromissos:</p>

              <p>Valores:</p>

              <ul>
                <li>Cooperação, transparência, justiça e atitude de atender com genuíno interesse são nossos valores fundamentais.</li>

                <li>A busca pela perfeição exige humildade, determinação e paciência.</li>

                <li>Todos têm o direito de participar e expor suas opiniões, por meio do diálogo numa conduta igualitária e ética.</li>

                <li>Erros acontecem e precisam ser assumidos e corrigidos de imediato, como oportunidade de aprendizado, melhoria e crescimento.</li>

                <li>O trabalho deve ser realizado com entusiasmo e visto como oportunidade de desenvolvimento.</li>

                <li>A dedicação de cada um deve ir além das atribuições da sua função.</li>

                <li>Não se beneficiar da função para vantagens pessoais e manter uma postura de simplicidade sem personalismo.</li>

                <li>É nossa responsabilidade realizar uma administração simples, flexível, ágil e integrada.</li>

                <li>Preparar sucessores capazes de ampliar os horizontes da Corporação.</li>

                <li>A realização profissional deve ser resultado do estímulo ao autodesenvolvimento e da busca de novos desafios.</li>

              </ul>

          </div>
        </div>
      </div>
    </div>
  </div>